[submodule "docker/sim/PegasusSimulator"]
	path = docker/sim/PegasusSimulator
	url = https://github.com/PegasusSimulator/PegasusSimulator.git
[submodule "docker/zed/zed-ros2-wrapper"]
	path = docker/zed/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
