[submodule "third_party/PegasusSimulator"]
	path = third_party/PegasusSimulator
	url = https://github.com/PegasusSimulator/PegasusSimulator.git
[submodule "third_party/zed-ros2-wrapper"]
	path = third_party/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
